*{
    width: 65%;
    height: 65%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.table{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    
}
td, th{
    border: 2px solid rgb(0, 0, 0);
}

.columnas{
    background-color: rgb(181, 240, 220);
}
.Materias{
    background-color: rgb(197, 196, 196);
}
    
    

